*{
    margin: 0;
    padding: 0;
    z-index: 5;
}

.about-page{
    display: flex;
    flex-direction: column;
    height: auto;
}

.mission-heading{
    font-size: 2.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: #59cbe2;
    margin-bottom: 1rem;
    border-bottom: 1px solid ;
}

.mission{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 60vw;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #111111;
    padding:2rem;
    color: aliceblue;
    border-radius: 2rem;
}
.ltmargin{
    margin-bottom: .4rem;
}

.our-team{
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: transparent;
    color: #aad4ea;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 2rem;
    width: 60vw;
    border-radius: 2rem;

}

.our-team-heading{
    background-color: transparent;
    align-self: center;
    font-size: 3rem;
    background-color: rgb(26, 25, 25);
    padding: 2rem;
    border-radius: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    border: 1px solid;
}

.our-team-heading:hover{
    border: 1.8px solid #f5ddfd;
}
  
.rotsq{
    background-color: #00d5ff;
}
.aquaaa{
    color:#00d5ff ;
}