*{
    margin: 0;
    padding: 0;
    z-index: 5;
}
.home-page{
    display: flex;
    flex-direction: column;
    height: auto;
   
}
.welcoming-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    opacity: 90%;
    align-self: center;
    text-align: center;
    color: #dbaaea;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-right: 5rem;
    font-size: 2.5rem;
    font-weight: 700;

}
.vedio-container-homepage{
    height: 60vh;
    width: 90vw;
    align-self: center;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: #b358cf;

}
.hero-about-homepage{
    height: auto;
    width: 70vw;
    border-radius: 1rem;
    background-color: #000000;
    color: #ffffff;
    margin-top: 4rem;
    align-self:center;
    margin-right: 2rem;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.blacky{
    color: #ffa968;
    font-family: sans-serif;
    font-weight: 800;
}